
.form-container {
    
    
    margin: 5px;
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos */
    gap: 15px;   
}
  
  

  
.form-group {
    display: flex;
    flex-direction: column; 
    width: 70%;
}

label {
    font-size: 14px;
    color: #f0f0f0; /* Contraste alto para etiquetas */
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #555; /* Color de borde más oscuro */
    border-radius: 4px;
    background-color: #444; /* Fondo del campo similar al formulario */
    color: #f0f0f0; /* Texto claro */
    transition: border 0.3s ease;
}

input:focus, select:focus, textarea:focus {
    border-color: #62046e; /* Azul brillante para enfoque */
    outline: none;
}

button {
    width: 70%; /* Asegura que el botón esté centrado */
    padding: 10px 20px;
    background-color: rgb(114, 14, 81);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Centrar botón */
}

button:hover {
    background-color: rgb(153, 5, 104);
}

.gestion-container{
    align-items: center;
    align-content: center;
}


.error{
    color:rgb(206, 56, 56);
    
}

.modal-title {
    color: white;
}

 