


a{
    cursor:pointer;
}

th{
    color: rgb(153, 185, 6);
}
.seleccionador-container{
    text-align: center;
    margin-top: 70px;
    
  }
 button{
    margin-top: 78px;
    background-color: rgb(153, 163, 8);
    margin-left:10px ;
  }

 .buscador-container{
    margin-bottom: 5px;
 }